$green: #68b738;
$background-green: rgba(104, 183, 56, 0.85);
$text-color: #444444;
$background-grey: #eaeaea;
$font-oswald: "Oswald", "Arial", sans-serif;
$font-arial: "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
